<!DOCTYPE html>
<html>

<head>
    <title>Validation using Express-Validator</title>
</head>

<body>
    <h1>Student Registration Form</h1>
    <form action="saveData" method="POST">
        <pre>
Enter student Email : <input type="text" name="email"> <br>
Enter student Name : <input type="text" name="name"> <br>
Enter student Number : <input type="number" name="mobile"> <br>
Enter student Password : <input type="password" name="password"> <br>
<input type="submit" value="Submit Form">
</pre>
    </form>
</body>

</html>