<%- include('navigation') %>
    <h1>
        <centre>Home</centre>
    </h1>
    <p> Welcome to Recipe Book. This page gives information of Indian recipes that can be cooked
        by young and old alike. </p>
    <ul>
        <li>Breakfast Recipe</li>
        <ol>upma</ol>
        <ol><a href="http://google.com">pohe</a></ol>
        <ol>maggi</ol>
        <ol>bread</ol>
        <li>Lunch Recipe</li>
        <ol>thali</ol>
        <ol><a href="http://google.com">poli bhaji</a></ol>
        <ol>dal rice</ol>
        <ol>sabji</ol>
        <li>Snacks Recipe</li>
        <ol>khichdi</ol>
        <ol><a href="http://google.com">soup</a></ol>
        <ol>pasta</ol>
    </ul>
    <%- include('footer') %>